.header {
  background-color: #2cdfb5;
  padding: 4em 0 1em;
  text-align: center;
  color: #7d0c7c;
}

.header a {
  color: #7d0c7c;
}

.header a:hover {
  color: #a00;
  text-deoration: underline;
}


.nav {
  padding: 1em 0 0;
}

.navlink {
  padding: 0 2em;
}

.content {
  background-color: #403f4d;
  padding: 2em 0;
  color: #f4fffc;
}
